html {
  background-color: #171e21;  
}

.mainContainer {
   background-color: #171e21;
}

.formContainer{
  background-color: #2a475e;
  padding: 2rem; 
  border-radius: 1rem;
  color: #c7d5e0;
}

.title {
  color: #c7d5e0;
  font-size: 2rem;
  padding: 1rem;
}

.subtitleContainer {
  color: #c7d5e0; 
  padding: 1rem;
}
.subtitle {
  text-align: center
}

.error {
  text-align: center;
  color: red;
}